.sidebar {
    height: 100vh;
    width: 250px;
    background: #11101d;
    padding: 6px 14px;
}

.nav-list li {
    list-style: none;
    margin: 5px 0;
}

.nav-list li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 12px;
    transition: all 0.4s ease;
}

/* Clase que se aplica automáticamente al estar en la ruta */
.nav-list li a.active {
    background: #fff;
    color: #11101d;
}

.separator {
    height: 1px;
    background: #333;
    margin: 20px 0;
}