<div class="header-section">
  <h2>Mis Reservas</h2>
  <button mat-button (click)="openDialog()">+ Nueva Reserva</button>
</div>
<br>
<div class="mat-elevation-z8">
  <table class="audit-table">

    <thead>
      <tr>
        <th (click)="onSort('idReserva')" class="sortable-header">
          ID <i [class]="getSortIcon('idReserva')"></i>
        </th>
        <th (click)="onSort('nombreSala')" class="sortable-header">
          Sala <i [class]="getSortIcon('nombreSala')"></i>
        </th>
        <th (click)="onSort('fechaInicio')" class="sortable-header">
          Inicio <i [class]="getSortIcon('fechaInicio')"></i>
        </th>
        <th (click)="onSort('fechaFin')" class="sortable-header">
          Fin <i [class]="getSortIcon('fechaFin')"></i>
        </th>
        <th>Estado</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let r of reservas">
        <td class="cell-id">#{{ r.idReserva }}</td>
        <td>{{ r.nombreSala }}</td>
        <td>{{ r.fechaInicio | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ r.fechaFin | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>
          <span class="status-badge" [class.active]="r.estado === 'ACTIVA'" [class.cancelled]="r.estado !== 'ACTIVA'">
            {{ r.estado }}
          </span>
        </td>
        <td class="text-center">
          <button *ngIf="r.estado === 'ACTIVA'" class="btn-cancel" (click)="onCancel(r)"
            title="Cancelar Reserva">
            <i class="uil uil-times-circle"> Cancelar</i>
          </button>
          <span *ngIf="r.estado !== 'ACTIVA'" class="text-muted small">--</span>
        </td>
      </tr>

      <tr *ngIf="reservas.length === 0">
        <td colspan="6" class="text-center py-4 text-muted">
          No se encontraron registros.
        </td>
      </tr>
    </tbody>
  </table>

  <footer class="audit-footer">
    <span class="audit-info">
      Mostrando {{ reservas.length }} de {{ totalElements }} registros
    </span>

    <mat-paginator [length]="totalElements" [pageSize]="params.rowsPerPage" [pageIndex]="params.pageNumber"
      [pageSizeOptions]="[5, 10, 25, 50]" (page)="handlePageEvent($event)" aria-label="Seleccionar página">
    </mat-paginator>
  </footer>

</div>
