<div class="login-container">
    <form [formGroup]="formLogin" (ngSubmit)="sendLogin()" class="form-login">
        <h1>Gestión de Reservas</h1>
        
        <div class="field">
            <label>Email:</label>
            <input formControlName="email" type="email" placeholder="ejemplo@correo.com">
            <small *ngIf="formLogin.get('email')?.invalid && formLogin.get('email')?.touched" class="error">
                Email no válido
            </small>
        </div>

        <div class="field">
            <label>Contraseña:</label>
            <input formControlName="password" type="password" placeholder="******">
            <small *ngIf="formLogin.get('password')?.invalid && formLogin.get('password')?.touched" class="error">
                La contraseña es obligatoria (min 6 caracteres)
            </small>
        </div>

        <button [disabled]="formLogin.invalid" type="submit">Entrar</button>

        <div *ngIf="errorSession" class="error-summary">
            Usuario o contraseña incorrectos. Intentelo de nuevo.
        </div>
    </form>
</div>