<div class="login-container">
    <form [formGroup]="formLogin" (ngSubmit)="sendLogin()" class="form-login">
        <div class="logo">
            <i class="uil uil-layers"></i>
            <span class="" >ROOMS MANAGER</span>
        </div>
        
        <div class="field">
            <label>Usuario:</label>
            <input formControlName="username" type="text" placeholder="Ingrese su usuario">
            <small *ngIf="formLogin.get('username')?.invalid && formLogin.get('username')?.touched" class="error">
                El usuario es obligatorio
            </small>
        </div>

        <div class="field">
            <label>Contraseña:</label>
            <input formControlName="password" type="password" placeholder="******">
            <small *ngIf="formLogin.get('password')?.invalid && formLogin.get('password')?.touched" class="error">
                La contraseña es obligatoria (min 6 caracteres)
            </small>
        </div>

        <button [disabled]="formLogin.invalid" type="submit">Entrar</button>

        <div *ngIf="errorSession" class="error-summary">
            Usuario o contraseña incorrectos. Intentelo de nuevo.
        </div>
    </form>
</div>