<div class="header-content">
    <div class="breadcrumb header-breadcrumb">
        <i class="uil uil-home"></i>
        <h3 class="page-name">{{ pageName }}</h3>
    </div>

    <div class="user-pill">
        <span class="name">{{ username }}</span>

        <div class="avatar">{{ username.charAt(0) }}</div>
        <span class="date">{{ today | date:'dd/MM/yyyy' }}</span>

        <button class="logout" (click)="logout()">
            <i class="uil uil-sign-out-alt">
                
            </i>
            Salir
        </button>
    </div>
</div>