.app-container {
  display: flex;
  height: 100vh;
}

.app-sidebar {
  background: #f6f6f6;
}

.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* HEADER FIJO */
.app-header {
  height: 64px;
  background: white;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  padding: 0 2rem;

  position: sticky;
  top: 0;
  z-index: 100;
}

/* CONTENIDO CON SCROLL */
.app-content {
  flex: 1;
  overflow-y: auto;
  padding: 1.5rem;
  background: #f9fafb;
}
