/* ========================
   CONTENEDOR GENERAL
======================== */
.calendar-container {
  /* padding: 1.5rem; */
}

/* ========================
   HEADER
======================== */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* ========================
   FILTRO
======================== */
.calendar-filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  color: #004254;
}

.calendar-filter i {
  font-size: 1.1rem;
}

/* Texto del filtro */
.calendar-filter span {
  white-space: nowrap;
}

/* Select al lado derecho */
.calendar-filter select {
  margin-left: 0.25rem;
  padding: 0.4rem 0.6rem;
  font-size: 0.8rem;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  background: white;
}

.calendar-filter select:focus {
  outline: none;
  border-color: #004254;
  background: #e6f2f4;
}

/* ========================
   CALENDAR
======================== */
.calendar-card {
  background: white;
  padding: 1rem;
  border-radius: 10px;
}