<div class="calendar-container">

  <button mat-button (click)="openDialog()">+ Nueva Reserva</button>


  <div class="filter-card">
    <div class="filter-header">
      <i class="uil uil-filter"></i>
      <span>Filtros de Búsqueda</span>
      <button class="btn-clear" (click)="resetFilters()">Limpiar</button>
    </div>

    <div class="filter-grid">
      <div class="filter-group">
        <label>Sala</label>
        <select [(ngModel)]="selectedSalaId" (change)="onFilterChange()">
          <option [value]="null">Todas las Salas</option>
          <option *ngFor="let s of salas" [value]="s.idSala">{{ s.nombre }}</option>
        </select>
      </div>

      <div class="filter-group">
        <label>Estado</label>
        <select [(ngModel)]="selectedEstado" (change)="onFilterChange()">
          <option value="">Todos los Estados</option>
          <option value="ACTIVA">Activas</option>
          <option value="CANCELADA">Canceladas</option>
        </select>
      </div>

      <div class="filter-group">
        <label>Usuario</label>
        <div class="input-with-icon">
          <i class="uil uil-user"></i>
          <input type="text" [(ngModel)]="searchUsername" (input)="onFilterChange()" placeholder="Buscar usuario...">
        </div>
      </div>

      <div class="filter-group">
        <label>Nombre de Sala</label>
        <div class="input-with-icon">
          <i class="uil uil-search"></i>
          <input type="text" [(ngModel)]="searchNombreSala" (input)="onFilterChange()" placeholder="Ej: Sala A...">
        </div>
      </div>
    </div>
  </div>

  <div class="calendar-card shadow-sm">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>