<div class="calendar-container">
  <div class="calendar-header">
    <div class="calendar-filter">
      <i class="uil uil-filter"></i>
      <span>Filtro por salas</span>

      <select [(ngModel)]="selectedSalaId" (change)="onSalaChange()">
        <option [value]="null">--- Todas las Salas ---</option>
        <option *ngFor="let sala of salas" [value]="sala.idSala">
          {{ sala.nombre }} (Cap: {{ sala.capacidad }})
        </option>
      </select>
    </div>
  </div>

  <div class="calendar-card">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>
